{% extends 'base.html.twig' %}

{% block title %}Nouveau vote{% endblock %}

{% block idPageContent %}newVotePage{% endblock %}

{% block body %}
    <h2>Nouveau vote</h2>

    {{ include('vote/_form.html.twig') }}

    <a href="{{ path('app_bet_show', {'id': bet.id}) }}" class="btn second-btn">Retour</a>
{% endblock %}
