
{% block body %}
    {# <img src="{{ asset('img/logo.png') }}" alt="logo" style="height: 100px"> #}

    <p>
        Bonjour, <br>
        Ceci est un mail automatique pour prévenir qu'un pari est terminé.
    </p>
{% endblock %}